<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Platform</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="main">
  

    <div id="head-div">
        WELCOME TO AVS VIDEO PLATFORM
    </div>
        
            <div id="logo-div">
                <img src="/logos/logo2.png" alt="index-logo">
            </div>
            

            <div class="last">
                <a id="s-u" href="/signup"> Signup </a>
            
                <a id="l-i" href="/login"> Login </a>

                <!-- <a href="/admin/login"> Login as Admin </a> -->
            </div>

      </main>
  </body>
</html>